<h1>Stupid coaching</h1>

<div id="question">
  <%= @question %>
  <p><em>-You</em></p>
</div>

<div id="answer">
  <%= @answer %>
  <p><em>-Your coach</em></p>
</div>

<%= link_to "Ask another question", "ask" %>
